## Introduction to Scikit Learn (SKLearn)

Here we are going to cover the SkLearn python Machine Learning library.

Following is the Python Machine Learning Workflow:
    
0. End-to-End Machine Learning Framework Workflow
1. Getting the Data Ready
2. Choosing the right Estimator/Algorithm for the Data Acquired
3. Fitting the Model/Algorithm/Estimator 
4. Evaluating the Model
5. Improve the Model through Experimentation
6. Save and Reload the Trained Model
7. Putting it all Together

In [1]:
# Getting the Data Ready
import pandas as pd
heart_disease = pd.read_csv('../data/heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
# Feature matrix
X = heart_disease.drop(['target'], axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [4]:
# Target column
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [5]:
# 2. Choose a right model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3. Fit the model on training data
from sklearn.model_selection import train_test_split
import numpy as np

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
127,67,0,2,152,277,0,1,172,0,0.0,2,1,2
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,52,1,0,112,230,0,1,160,0,0.0,2,1,2
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2

In [9]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2

In [10]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [11]:
y_train

127    1
276    0
257    0
186    0
283    0
      ..
261    0
203    0
59     1
249    0
164    1
Name: target, Length: 242, dtype: int64

In [14]:
# make predictions

y_pred = clf.predict(X_test)
y_pred

array([0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0])

In [15]:
# 4. Evaluate the model
clf.score(X_train, y_train)

1.0

In [16]:
clf.score(X_test, y_test)

0.8852459016393442

In [17]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [19]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.86      0.84        21
           1       0.92      0.90      0.91        40

    accuracy                           0.89        61
   macro avg       0.87      0.88      0.87        61
weighted avg       0.89      0.89      0.89        61

In [20]:
print(confusion_matrix(y_test, y_pred))

[[18  3]
 [ 4 36]]

In [21]:
print(accuracy_score(y_test, y_pred))

0.8852459016393442

In [22]:
# 5. Experiment with different model
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Model accuracy with n_estimators {i}")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model fitted with test accuracy of {clf.score(X_test, y_test) * 100:.2f}")

Model accuracy with n_estimators 10
Model fitted with test accuracy of 85.25
Model accuracy with n_estimators 20
Model fitted with test accuracy of 86.89
Model accuracy with n_estimators 30
Model fitted with test accuracy of 85.25
Model accuracy with n_estimators 40
Model fitted with test accuracy of 83.61
Model accuracy with n_estimators 50
Model fitted with test accuracy of 88.52
Model accuracy with n_estimators 60
Model fitted with test accuracy of 88.52
Model accuracy with n_estimators 70
Model fitted with test accuracy of 86.89
Model accuracy with n_estimators 80
Model fitted with test accuracy of 88.52
Model accuracy with n_estimators 90
Model fitted with test accuracy of 88.52

In [23]:
# 6. Save and Reload model
import pickle

with open("random_forest_model.pkl", "wb") as file:
    pickle.dump(clf, file)

In [24]:
with open("random_forest_model.pkl", "rb") as file:
    model = pickle.load(file)

model.score(X_test, y_test)

0.8852459016393442

In [25]:
# 7. Putting it all together

import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

heart_d = pd.read_csv("../data/heart-disease.csv")
X = heart_d.drop(['target'], axis=1)
y = heart_d['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf = RandomForestClassifier(n_estimators=100)

clf.fit(X_train, y_train)
y_preds = clf.predict(X_test)

print(f"clf score on test set {clf.score(X_test, y_test) * 100:.3f}")

print(f"Classification Report {classification_report(y_test, y_pred)}")

print(f"Confusion Matrix {confusion_matrix(y_test, y_pred)}")

print(f"Accuracy Score {accuracy_score(y_test, y_preds)}")

with open("random_forest_model.pkl", "wb") as file:
    pickle.dump(clf, file)
    
with open("random_forest_model.pkl", "rb") as file:
    model = pickle.load(file)

print(f"Accuracy Score from loaded model {model.score(X_test, y_test) * 100:.3f}")

clf score on test set 88.525
Classification Report               precision    recall  f1-score   support

           0       0.59      0.43      0.50        30
           1       0.56      0.71      0.63        31

    accuracy                           0.57        61
   macro avg       0.58      0.57      0.56        61
weighted avg       0.58      0.57      0.57        61

Confusion Matrix [[13 17]
 [ 9 22]]
Accuracy Score 0.8852459016393442
Accuracy Score from loaded model 88.525